*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    Width: 100%;
    background-color: #202020;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

/* .logo-imagem{
    width: 50px;
    height: 50px;
    background-color: #131313;;
} */

.container-logo{
    display: flex;
    align-items: center;
}

.logo-texto{
    margin-left: 20px;
    color:#ffffffff;
}

.menu li{
    display: inline-block;
    margin: 0 10px;
}
.menu li a{
    font-size: 24px;
    text-decoration: none;
    color: #ffffffff;
    text-transform: uppercase;
    padding: 15px 25px;
}
.menu li a:hover{
    background-color: rgba(100,100,100, 7);
}